/* Basic styling for the slideshow container */

.slideshow-container {
  width: 100%;
  max-width: 600px; /* Set a maximum width */
  margin: auto; /* Center the container */
  position: relative;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

/* Hide all slides by default */
.slide {
  display: none; /* Initially hide slides */
}

/* Fade animation */
.fade {
  animation: fadeEffect 1.5s ease-in-out forwards; /* Use 'forwards' to keep the final state */
}

/* Define fade effect */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide p {
  font-size: 1.5em;
  color: #000000;
}

.DT_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(deg);
  margin-top: -80px;
}

.display-date {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1px;
  color: #03a4ed;
}
.year-line {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1px;
  color: #1ddf3d;
}

.date-line {
  display: inline-flex;
  /* Keeps day, month, and year on the same line */
}

.display-time {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: ease-in-out 0.1s;
  color: #a10605;
}

.date-line span {
  margin-right: 5px;
  /* Adjust the spacing as needed */
}

.date-line span:last-child {
  margin-right: 0;
  /* Removes extra margin on the last element */
}

/* From Uiverse.io by dylanharriscameron */
.card {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 190px;
  height: 240px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ff0000;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

#apl {
  color: #434343;
}
